.pane .borderpane
{
	-fx-color: #333333;
	-fx-background-color: #333333;
}
.tab
{
	-fx-border-radius: 0 0 0 0;
	-fx-padding: 5 5 5 5;
	-fx-margin: 0 0 0 0;
	-fx-border-width: 0px;
}
.tab:selected
{
	-fx-background-color: #F0544C;
}
.tab-header-background .headers-region
{
	-fx-padding: 0 0 0 0;
	-fx-color: #3D3D3D;
	-fx-border-radius: 0 0 0 0;
	-fx-background-color: #3D3D3D;
}
.tab-pane .tab-header-area
{
	-fx-padding: 0 0 0 0;
	-fx-color: #3D3D3D;
	-fx-margin: 0 0 0 0;
}
.tab-content-area
{
	-fx-color: #333333;
}
